{% extends 'base.html' %}

{% load static %}

{% block content %}


    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5" 
    style="margin-bottom: 6rem; 
           background-image: url({% static 'img/carousel-2.png' %}); 
           background-size: cover; 
           background-position: center;">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Biz haqimizda</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-white" href="#">Bosh sahifa</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Sahifalar</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Biz haqimizda</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

 <!-- About Start -->
 <div class="container-fluid overflow-hidden py-5 px-lg-0">
    <div class="container about py-5 px-lg-0">
        <div class="row g-5 mx-lg-0">
            <div class="col-lg-6 ps-lg-0 wow fadeInLeft" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100" src="{% static 'img/about.jpg' %}" style="object-fit: cover;" alt="Mebel Mahsulotlari">
                </div>
            </div>
            <div class="col-lg-6 about-text wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="text-secondary text-uppercase mb-3">Biz Haqimizda</h6>
                <h1 class="mb-5">Yotoq, Oshxona, Ofis va Boshqa Mebel Mahsulotlari</h1>
                <p class="mb-5">Bizning kompaniya yuqori sifatli mebel mahsulotlari ishlab chiqarish va yetkazib berishda yetakchidir. Yotoq mebellari, oshxona jihozlari, ofis mebellari va boshqa turli xil mahsulotlar bilan mijozlarimizni xursand qilmoqdamiz.</p>
                <div class="row g-4 mb-5">
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                        <i class="fa fa-couch fa-3x text-primary mb-3"></i>
                        <h5>Yuqori Sifatli Mebel</h5>
                        <p class="m-0">Bizning mebellarimiz eng yuqori sifatli materiallardan tayyorlanadi va mukammal ishlov beriladi.</p>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
                        <i class="fa fa-truck fa-3x text-primary mb-3"></i>
                        <h5>Vaqtida Yetkazib Berish</h5>
                        <p class="m-0">Biz mijozlarimizga buyurtma qilingan mebellarni belgilangan muddatda yetkazib berish uchun barchani amalga oshiramiz.</p>
                    </div>
                </div>
                <a href="#" class="btn btn-primary py-3 px-5">Batafsil Ma'lumot</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

   <!-- Fact Start -->
<div class="container-xxl py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="text-secondary text-uppercase mb-3">Ba'zi Faktlar</h6>
                <h1 class="mb-5">#1 Joy Sizning Mebel Ehtiyojlaringiz Uchun</h1>
                <p class="mb-5">Zamonaviy va sifatli mebellar bilan uyingizga qulaylik qo‘shing. Bizning mahsulotlarimiz estetik dizayn va mustahkamlikni birlashtiradi, uyingizni yanada go'zal va qulay qiladi.</p>
                <div class="d-flex align-items-center">
                    <i class="fa fa-couch fa-2x flex-shrink-0 bg-primary p-3 text-white"></i>
                    <div class="ps-4">
                        <h6>Har qanday savol uchun qo'ng'iroq qiling!</h6>
                        <h3 class="text-primary m-0">+998906056566</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row g-4 align-items-center">
                    <div class="col-sm-6">
                        <div class="bg-primary p-4 mb-4 wow fadeIn" data-wow-delay="0.3s">
                            <i class="fa fa-smile fa-2x text-white mb-3"></i>
                            <h2 class="text-white mb-2" data-toggle="counter-up">1234</h2>
                            <p class="text-white mb-0">Baxtli Mijozlar</p>
                        </div>
                        <div class="bg-secondary p-4 wow fadeIn" data-wow-delay="0.5s">
                            <i class="fa fa-truck-loading fa-2x text-white mb-3"></i>
                            <h2 class="text-white mb-2" data-toggle="counter-up">1234</h2>
                            <p class="text-white mb-0">O'z Vaqtida Yetkazib Berish</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="bg-success p-4 wow fadeIn" data-wow-delay="0.7s">
                            <i class="fa fa-star fa-2x text-white mb-3"></i>
                            <h2 class="text-white mb-2" data-toggle="counter-up">1234</h2>
                            <p class="text-white mb-0">Mijozlarning Fikr-Mulohazalari</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fact End -->



    <!-- Feature Start -->
    <div class="container-fluid overflow-hidden py-5 px-lg-0">
        <div class="container feature py-5 px-lg-0">
            <div class="row g-5 mx-lg-0">
                <div class="col-lg-6 feature-text wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="text-secondary text-uppercase mb-3">Bizning Xizmatlar</h6>
                    <h1 class="mb-5">Ishonchli Mebel Yetkazib Berish Xizmati</h1>
                    <div class="d-flex mb-5 wow fadeInUp" data-wow-delay="0.3s">
                        <i class="fa fa-couch text-primary fa-3x flex-shrink-0"></i>
                        <div class="ms-4">
                            <h5>Zamonaviy Dizayn</h5>
                            <p class="mb-0">Bizning mebellar zamonaviy dizayn va qulaylikni o‘zida mujassamlashtiradi, sizning uyingizni go‘zal va qulay qiladi.</p>
                        </div>
                    </div>
                    <div class="d-flex mb-5 wow fadeIn" data-wow-delay="0.5s">
                        <i class="fa fa-truck text-primary fa-3x flex-shrink-0"></i>
                        <div class="ms-4">
                            <h5>O‘z Vaqtida Yetkazib Berish</h5>
                            <p class="mb-0">Biz sizga mebelingizni o‘z vaqtida va xavfsiz yetkazib berishni kafolatlaymiz.</p>
                        </div>
                    </div>
                    <div class="d-flex mb-0 wow fadeInUp" data-wow-delay="0.7s">
                        <i class="fa fa-headphones text-primary fa-3x flex-shrink-0"></i>
                        <div class="ms-4">
                            <h5>24/7 Qo'llab-quvvatlash</h5>
                            <p class="mb-0">Biz har doim siz bilan bog‘lanish uchun tayyormiz. Har qanday savollaringizga javob beramiz.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pe-lg-0 wow fadeInRight" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute img-fluid w-100 h-100" src="{% static 'img/feature.jpg' %}" style="object-fit: cover;" alt="">
                    </div>   
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End -->
    


    <!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="text-center">
            <h6 class="text-secondary text-uppercase">Mijozlar</h6>
            <h1 class="mb-0">Mijozlar izohi</h1>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            {% for testimonial in testimonials %}
            <div class="testimonial-item p-4 my-5">
                <i class="fa fa-quote-right fa-3x text-light position-absolute top-0 end-0 mt-n3 me-4"></i>
                <div class="d-flex align-items-end mb-4">
                    <img class="img-fluid flex-shrink-0" 
                         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToK4qEfbnd-RN82wdL2awn_PMviy_pelocqQ&s" 
                         style="width: 80px; height: 80px; border-radius: 50%;">
                    <div class="ms-4">
                        <h5 class="mb-1">{{ testimonial.client_name }}</h5>
                        <p class="m-0">{{ testimonial.profession }}</p>
                        <!-- Reytingni ko'rsatish -->

                        <div class="mt-1">
                         
                            <small class="text-warning">
                                {% for star in testimonial.full_stars %}
                                <i class="fa fa-star"></i>
                                {% endfor %}
                                {% for star in testimonial.empty_stars %}
                                <i class="fa fa-star text-muted"></i>
                                {% endfor %}
                            </small>
                            
                        </div>
                    </div>
                </div>
              
                <p class="mb-0">{{ testimonial.feedback }}</p>
                <!-- Tugma qo'shish -->
                <a href="{% url 'category_detail' %}" class="btn btn-secondary mt-3">Izoh yozish</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<style>
                                
    text-warning {
font-size: 18px; /* Yulduzlarning o'lchamini kattalashtirish */
}

.text-warning .fa-star {
color: #ffcc00; /* Oltin yulduzlar */
transition: color 0.3s ease; /* Rang o'zgarishini animatsiya qilish */
}

.text-warning .fa-star.text-muted {
color: #d3d3d3; /* Bo'sh yulduzlarning rangi */
}

.text-warning .fa-star:hover {
color: #f7b500; /* Hover effekti - yulduz ustiga kelsa rang o'zgaradi */
}  </style>
<!-- Testimonial End -->
    {% endblock content %}

  
 