{% extends 'base.html' %}

{% load static %}

{% block content %}


    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5" 
    style="margin-bottom: 6rem; 
           background-image: url({% static 'img/carousel-2.png' %}); 
           background-size: cover; 
           background-position: center;">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Biz haqimizda</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-white" href="#">Bosh sahifa</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Sahifalar</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Biz haqimizda</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

 <!-- About Start -->
 <div class="container-fluid overflow-hidden py-5 px-lg-0">
    <div class="container about py-5 px-lg-0">
        <div class="row g-5 mx-lg-0">
            <div class="col-lg-6 ps-lg-0 wow fadeInLeft" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100" src="{% static 'img/about.jpg' %}" style="object-fit: cover;" alt="Mebel Mahsulotlari">
                </div>
            </div>
            <div class="col-lg-6 about-text wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="text-secondary text-uppercase mb-3">Biz Haqimizda</h6>
                <h1 class="mb-5">Yotoq, Oshxona, Ofis va Boshqa Mebel Mahsulotlari</h1>
                <p class="mb-5">Bizning kompaniya yuqori sifatli mebel mahsulotlari ishlab chiqarish va yetkazib berishda yetakchidir. Yotoq mebellari, oshxona jihozlari, ofis mebellari va boshqa turli xil mahsulotlar bilan mijozlarimizni xursand qilmoqdamiz.</p>
                <div class="row g-4 mb-5">
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                        <i class="fa fa-couch fa-3x text-primary mb-3"></i>
                        <h5>Yuqori Sifatli Mebel</h5>
                        <p class="m-0">Bizning mebellarimiz eng yuqori sifatli materiallardan tayyorlanadi va mukammal ishlov beriladi.</p>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
                        <i class="fa fa-truck fa-3x text-primary mb-3"></i>
                        <h5>Vaqtida Yetkazib Berish</h5>
                        <p class="m-0">Biz mijozlarimizga buyurtma qilingan mebellarni belgilangan muddatda yetkazib berish uchun barchani amalga oshiramiz.</p>
                    </div>
                </div>
                <a href="#" class="btn btn-primary py-3 px-5">Batafsil Ma'lumot</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

   <!-- Fact Start -->
<div class="container-xxl py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="text-secondary text-uppercase mb-3">Ba'zi Faktlar</h6>
                <h1 class="mb-5">#1 Joy Sizning Mebel Ehtiyojlaringiz Uchun</h1>
                <p class="mb-5">Zamonaviy va sifatli mebellar bilan uyingizga qulaylik qo‘shing. Bizning mahsulotlarimiz estetik dizayn va mustahkamlikni birlashtiradi, uyingizni yanada go'zal va qulay qiladi.</p>
                <div class="d-flex align-items-center">
                    <i class="fa fa-couch fa-2x flex-shrink-0 bg-primary p-3 text-white"></i>
                    <div class="ps-4">
                        <h6>Har qanday savol uchun qo'ng'iroq qiling!</h6>
                        <h3 class="text-primary m-0">+998906056566</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row g-4 align-items-center">
                    <div class="col-sm-6">
                        <div class="bg-primary p-4 mb-4 wow fadeIn" data-wow-delay="0.3s">
                            <i class="fa fa-smile fa-2x text-white mb-3"></i>
                            <h2 class="text-white mb-2" data-toggle="counter-up">1234</h2>
                            <p class="text-white mb-0">Baxtli Mijozlar</p>
                        </div>
                        <div class="bg-secondary p-4 wow fadeIn" data-wow-delay="0.5s">
                            <i class="fa fa-truck-loading fa-2x text-white mb-3"></i>
                            <h2 class="text-white mb-2" data-toggle="counter-up">1234</h2>
                            <p class="text-white mb-0">O'z Vaqtida Yetkazib Berish</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="bg-success p-4 wow fadeIn" data-wow-delay="0.7s">
                            <i class="fa fa-star fa-2x text-white mb-3"></i>
                            <h2 class="text-white mb-2" data-toggle="counter-up">1234</h2>
                            <p class="text-white mb-0">Mijozlarning Fikr-Mulohazalari</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fact End -->



    <!-- Feature Start -->
    <div class="container-fluid overflow-hidden py-5 px-lg-0">
        <div class="container feature py-5 px-lg-0">
            <div class="row g-5 mx-lg-0">
                <div class="col-lg-6 feature-text wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="text-secondary text-uppercase mb-3">Bizning Xizmatlar</h6>
                    <h1 class="mb-5">Ishonchli Mebel Yetkazib Berish Xizmati</h1>
                    <div class="d-flex mb-5 wow fadeInUp" data-wow-delay="0.3s">
                        <i class="fa fa-couch text-primary fa-3x flex-shrink-0"></i>
                        <div class="ms-4">
                            <h5>Zamonaviy Dizayn</h5>
                            <p class="mb-0">Bizning mebellar zamonaviy dizayn va qulaylikni o‘zida mujassamlashtiradi, sizning uyingizni go‘zal va qulay qiladi.</p>
                        </div>
                    </div>
                    <div class="d-flex mb-5 wow fadeIn" data-wow-delay="0.5s">
                        <i class="fa fa-truck text-primary fa-3x flex-shrink-0"></i>
                        <div class="ms-4">
                            <h5>O‘z Vaqtida Yetkazib Berish</h5>
                            <p class="mb-0">Biz sizga mebelingizni o‘z vaqtida va xavfsiz yetkazib berishni kafolatlaymiz.</p>
                        </div>
                    </div>
                    <div class="d-flex mb-0 wow fadeInUp" data-wow-delay="0.7s">
                        <i class="fa fa-headphones text-primary fa-3x flex-shrink-0"></i>
                        <div class="ms-4">
                            <h5>24/7 Qo'llab-quvvatlash</h5>
                            <p class="mb-0">Biz har doim siz bilan bog‘lanish uchun tayyormiz. Har qanday savollaringizga javob beramiz.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pe-lg-0 wow fadeInRight" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute img-fluid w-100 h-100" src="{% static 'img/feature.jpg' %}" style="object-fit: cover;" alt="">
                    </div>   
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End -->
    


    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container py-5">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="text-secondary text-uppercase">biz</h6>
                <h1 class="mb-5">Bizning jamolar</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item p-4">
                        <div class="overflow-hidden mb-4">
                            <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTabqK036YDZSLo2ecQpSj7-bV_mYEqdCqrYA&s" alt="">
                        </div>
                        <h5 class="mb-0">Registon gold mebel</h5>
                        <p>Designation</p>
                        <div class="btn-slide mt-1">
                            <i class="fa fa-share"></i>
                            <span>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item p-4">
                        <div class="overflow-hidden mb-4">
                            <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTabqK036YDZSLo2ecQpSj7-bV_mYEqdCqrYA&s" alt="">
                        </div>
                        <h5 class="mb-0">Registon gold mebel</h5>
                        <p>Designation</p>
                        <div class="btn-slide mt-1">
                            <i class="fa fa-share"></i>
                            <span>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="team-item p-4">
                        <div class="overflow-hidden mb-4">
                            <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTabqK036YDZSLo2ecQpSj7-bV_mYEqdCqrYA&s" alt="">
                        </div>
                        <h5 class="mb-0">Registon gold mebel</h5>
                        <p>Designation</p>
                        <div class="btn-slide mt-1">
                            <i class="fa fa-share"></i>
                            <span>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.9s">
                    <div class="team-item p-4">
                        <div class="overflow-hidden mb-4">
                            <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTabqK036YDZSLo2ecQpSj7-bV_mYEqdCqrYA&s" alt="">
                        </div>
                        <h5 class="mb-0">Registon gold mebel</h5>
                        <p>Designation</p>
                        <div class="btn-slide mt-1">
                            <i class="fa fa-share"></i>
                            <span>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->
    {% endblock content %}

  
 