{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Registon gold mebel Samarqand</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{% static 'img/logo.jpg' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="text-center">
        <h2>Welcome to  Registon gold mebel Samarqand</h2>
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<!-- Spinner End -->

 <style>#welcome-message {
    display: none; /* Hozircha yashirish */
    opacity: 0;
    animation: fadeIn 3s forwards, rotate 3s forwards; /* Animatsiya: Fade in va aylanish */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
</style>


  <!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm border-top border-5 border-primary sticky-top p-0">
    <a href="index.html" class="navbar-brand bg-primary d-flex align-items-center px-4 px-lg-5">
        <img src="{% static 'img/logo.jpg' %}" alt="Mebel Logo" class="img-fluid" style="max-height: 50px;">
    </a>

    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="{% url 'home_page' %}" class="nav-item nav-link active text-primary fw-bold">Bosh Sahifa</a>
            <a href="{% url 'about_page' %}" class="nav-item nav-link">Biz Haqimizda</a>
            <a href="{% url 'service_page' %}" class="nav-item nav-link">Xizmatlar</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Mebel Turlari</a>
                <div class="dropdown-menu fade-up m-0 shadow-sm">
                    <a href="{% url 'category_page' %}" class="dropdown-item">Yotoq Mebellari</a>
                    <a href="{% url 'category_page' %}" class="dropdown-item">Oshxona Mebellari</a>
                    <a href="{% url 'category_page' %}" class="dropdown-item">Ofis Mebellari</a>
                    <a href="{% url 'category_page' %}" class="dropdown-item">Yumshoq bollar Mebel</a>
             
                </div>
            </div>
            <a href="{% url "contact_page" %}" class="nav-item nav-link">Bog'lanish</a>
            <a href="" class="nav-item nav-link">loyiha</a>
        </div>
        <h4 class="m-0 pe-lg-5 d-none d-lg-block">
            <i class="fa fa-phone text-primary me-3"></i>+998 90 605 65 66
        </h4>
    </div>
</nav>
<!-- Navbar End -->


{% block content %}
{% endblock content %}


  <!-- Footer Start -->
  <div class="container-fluid bg-dark text-light footer pt-5 wow fadeIn" data-wow-delay="0.1s" style="margin-top: 6rem;">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Address</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>📍Samarqand</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+998906056566</p>
             
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social rounded-circle me-2" href="https://www.instagram.com/registon.gold.mebel/?igsh=bDRnMWVhbDM1OWV5"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-outline-light btn-social rounded-circle me-2" href="https://t.me/Registon_Gold_Mebel"><i class="fab fa-telegram-plane"></i></a>
                    <a class="btn btn-outline-light btn-social rounded-circle me-2" href="+998906056566"><i class="fa fa-phone"></i></a>
                    <a class="btn btn-outline-light btn-social rounded-circle" href="https://www.facebook.com/registon.gold.mebel"><i class="fab fa-facebook-f"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Zamonaviy UY</h4>
                 <a class="btn btn-link" href="{% url 'category_page' %}">Oshxona Mebellari</a>
         
                <a class="btn btn-link" href="">dizayin bilan haama </a>
                <a class="btn btn-link" href="{% url 'category_page' %}">Yumshoq Mebel</a>
                <a class="btn btn-link" href="{% url 'category_page' %}">Ofis Mebellari</a>
                <a class="btn btn-link" href="{% url 'category_page' %}">bollar karavotlari</a>
               
            </div>
            
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Tezkor Havolalar</h4>
                <a class="btn btn-link" href="{% url 'about_page' %}">Biz Haqimizda</a>
                <a class="btn btn-link" href="{% url "contact_page" %}">Bog‘lanish</a>
                <a class="btn btn-link" href="{% url "service_page" %}">Xizmatlarimiz</a>
            </div>
            
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Bizning maqsadimiz – mijozlarimiz uchun </h4>
                <p>Oshxona mebellarini onlayn buyurtma qiling!</h2>
                    <p class="mb-4">
                        Hozirda oshxona mebellarini 
                      
                    </p></p>
                <div class="position-relative mx-auto" style="max-width: 400px;">
                  
                    <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">boshlash</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    <a href="#">
                        <img src="{% static 'img/logo.jpg' %}" alt="Logo" style="height: 30px; margin-right: 10px; border: 2px solid #ffffff; border-radius: 5px;">
                    </a>
                    &copy; <a class="border-bottom" href="#">Registon gold mebel Samarqand</a>
                </div>
                
                
                <div class="col-md-6 text-center text-md-end">
                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
               
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-0 back-to-top"><i class="bi bi-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'lib/wow/wow.min.js' %}"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

<!-- Template Javascript -->
<script src="{% static 'js/main.js' %}"></script>
</body>

</html>